@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
.row{
    display: flex;
    flex-wrap: wrap;
}
h2{
    color: blue;
    margin-left: 15%;

}
p{
    font-size:20px;
    font-weight:bold;
}
.img-responsive{
    width: 300px;
    height: 300px;
}
.container{
    background-color: rgb(204, 201, 201);
    
}
.page-footer{
    padding: 20px;
    font-size: medium;
    font-family: 'Oswald', sans-serif;
}

@media only screen and (max-width: 768px) {
    .row{
        margin-left:5%;

    }
    .container{
        color:#fff;
        background-color: gray;
        
    }
    h3{
        text-align: center;
        
    }
    .img-responsive{
        width: 450px;
        height: 350px;

    }
}