{%extends 'base.html'%}


{% block content%}
{{block.super}}
<div class="container">

<div class="introduction">
<h1 class="text-center">Welcome To My Gallery App</h1>
<hr>
<p id="about" class="text-center">
    have a look at some of my interesting pictures took from different places at different occassions</p>
</div>

 

    

    <div class="row text-center">
      {% for item in post %}
      <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
        <img src="{{item.image.url}}" class="img-responsive" alt="Image">
        <h3>Place:{{ item.name }}</h3>
        <h3>Category:{{ item.category}}</h3>
      </div>
      {% endfor%}
    </div>
    <footer class="page-footer">
      <div style=" font-size:12pt;">
          <div class="footer-copyright py-3" style="padding-left: 42%;">&#169;Copyright 2021: Tito.L.Kipkirui
          </div>
      </div>
  </footer>
</div>
  {%endblock%}


