{%extends 'base.html'%}

{% block content%}
{{block.super}}

<div class="row">
    {% if category%}
    <h4 class="text-center">Found {{ category|length }} images on {{message}}</h4>
    <div class="container">
        <hr />
    </div>
    {% else %}
    <h4 class="text-center">There is no image for this category, search again</h4>
    {% endif %}
</div>
<div class="row">
    {% if category %}
    {% for item in category %}
    <div class="col-md-4">
        <a href="#{{item.id}}" data-toggle="modal" data-target="#{{item.id}}">
            <img src="{{item.image.url}}" class="img-responsive" alt="{{image.name}}"
                style="width:100%;width:100%">
                <h5 class="text-center">{{item.name}}</h5>
                <!-- <h5 class="text-center">{{item.desc}}</h5>
                <h5 class="text-center">{{item.pub_date}}</h5> -->
        </a>
        <div class="modal fade" id="{{item.id}}" role="dialog">
            <div class="modal-dialog modal-xl">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">{{item.name}}</h4>
                        <img src="{{item.image.url}}" class="img-responsive" alt="Image"
                            style="width:100%;max-width:100%">
                    </div>
                    <div class="modal-body">
                        <p class="text-justify">{{item.desc}}</p>
                        <p class="text-left"><b>Location:</b> {{item.location}}</p>
                        <p class="text-left"><b>Category:</b> {{item.category}}</p>
                    </div>
                    <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10 padding-1">
                        <input id="{{item.id}}-url" class="form-control input-md responsive" type="text"
                            value="{{item.image.url}}">
                    </div>
                    <button type="button" onclick="copyToClipboard();">Copy</button>
                    <script>
                        function copyToClipboard() {
                            var copyText = document.getElementById("{{item.id}}-url");
                            copyText.select();
                            copyText.setSelectionRange(0, 99999)
                            document.execCommand("copy");
                            alert('url copied');
                        }
                    </script>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
    {% endif %}
</div>


{% endblock %}